<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>First view Home Controller</h1>
    <a href="~/Home/Employes">Сотрудники</a>
</body>
</html>
